
--------------dev---------------

server_name dev.host.com

rewrite ^/signin(.[a-z]+)?$       /index.dev.php?n=signin break;
rewrite ^/(index.[a-z]+)?$        /index.dev.php?p=/article/&f=$1 break;
rewrite ^/write(.[a-z]+)?$        /index.dev.php?p=/article/&n=write&f=$1 break;
rewrite ^/title(.[a-z]+)?$        /index.dev.php?p=/article/&n=title&f=$1 break;

--------------production--------

server_name host.com

rewrite '^/signin' /index.php?n=signin break;
rewrite '^/signup' /index.php?n=user break;
rewrite '^/write' /index.php?n=diary break;