#title{
    height: 30px;
    font-size: 25px;
    margin: 20px 0px;
    color: #1E598E;
    font-weight: bold;
    line-height: 1.3em;
}

#content{
    font-size: 14px;
    line-height: 30px;
}

#article-bar {
    position: fixed;
    top: 10%;
    left: 5%;
    width: 200px;
    background: #F6F9FB;
    border: 2px solid #DCE5EE;
}

#article-bar div{
    cursor: pointer;
}

#article-bar #bar-list {
    margin: 10px 0px;
}

#article-bar #bar-list li {
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    background: #F0F3F6; 
    border-bottom: 1px solid #ddd;
}

#article-bar span{
    line-height: 16px;
    height: 16px;
    font-size: 16px; 
}

#article-bar .bar-date{
    font-size: 12px;
    font-style: italic;
    display: inline-block;
    width: 35px;
}

#article-bar .bar-title{
    color: #1E598E;
    display: inline-block;
    width: 150px;
    margin-left: 5px;
    cursor: pointer;
}

#article-bar .bar-title-hover{
    background: #fff;
}

#article-bar .bar-title-select{
    background: #d6d9dB;
}