/* 
    Document   : layout
    Created on : 2012-9-21, 13:50:31
    Author     : dict1066
    Description:
        Purpose of the stylesheet follows.
*/

body, div, span, form, ul, li, input, label, button{
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: "微软雅黑", "Microsoft YaHei";
}

ul{
    list-style: none;
}

.clear{
    clear: both;
}

body{
    background-color: #f4f4f4;
}

#main{
    width: 960px;
    margin: 0px auto;
}