
--------------dev---------------

server_name dev.host.com

rewrite '^/signin' /index.dev.php?p=/user/&n=signin last;
rewrite '^/signup' /index.dev.php?p=/user/&n=signup last;
rewrite '^/write' /index.dev.php?p=/diary/&n=write last;

--------------production--------

server_name host.com

rewrite '^/signin' /index.php?p=/user/&n=signin last;
rewrite '^/signup' /index.php?p=/user/&n=signup last;
rewrite '^/write' /index.php?p=/diary/&n=write last;